/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #080808;
    background-color: #f4f4f4;
}

/* Estilos do Cabeçalho */
header {
    background-color: #1a1818; /* Fundo preto sólido */
    color: #fff; 
    padding: 1.5rem 2rem; 
    position: fixed;
    width: 97%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav ul li {
    display: inline;
    margin-right: 40px;
   
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Container do Logo e Texto */
.logo-text-container { /* Novo container para agrupar logo e texto */
    display: flex;
    align-items: center; /* Alinha verticalmente o logo e o texto */
    margin-left: 30px; /* Adiciona uma margem à esquerda */
}

.logo {
    max-width: 60px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px; /* Adiciona um espaçamento entre a logo e o texto */
}

/* Texto do Cabeçalho */
.header-text {
    font-size: 1.8rem; 
    font-weight: bold;
    font-family: Verdana
}

/* Estilos do Menu */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  
}
/* Estilos da Seção Principal */
#loyalty-accounts {
    background-image: url('images/conta.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 5rem; 
}

/* Estilos dos Produtos */
.product {
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    width: 80%; 
    max-width: 400px; 
    color: white; /* Cor do texto nos produtos (branco) */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Sombra no texto para melhorar a legibilidade */
    font-style:verdana
}

.product button {
    background-color: #8B0000; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #8B0000; 
}

nav ul li a.active {
    background-color: #8B0000; /* Cor de fundo do item ativo */
    color: #f3f2f2; /* Cor do texto do item ativo */
}

nav ul li a:hover {
    background-color: #8B0000; /* Cor de fundo ao passar o mouse */
    color: #f3f2f2; /* Cor do texto ao passar o mouse */
}

footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #080808;
    color :#f5ebeb;
}

.saiba-mais {
    display: inline-block;
    background-color: #8B0000; /* Cor vermelha */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .saiba-mais:hover {
    background-color: #8B0000; /* Cor vermelha mais escura ao passar o mouse */
  }